body{
    background-color: rgb(193, 226, 255);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}
.container{
    /* border: 2px solid black; */
    width: 28em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 241, 241);
    border-radius: 2em;
    box-shadow:12px 8px 0px 0px rgb(249, 216, 216);
}
.form{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}
.form label{
    margin-top: 20px;
    text-decoration: solid;
    color: black;
    font-style: oblique;
    font-weight: bold;
    font-size: 1.4em;
}
.form input{
    border:0;
    border-bottom:2px solid #99ff97;  
    background:transparent;
    width:100%;
    /* padding:0px 0 0px 0; */
    font-size:16px;
    color:#fff;
}
.form input:focus{
    /* border: 2px solid black; */
    height: 34px;
    width: 25em; 
    border:none;	
    outline:none;
    border-bottom:2px solid #e74c3c;
}
#submit{
    margin-left: 4em;
    margin-top: 1em;
    width: 7em;
    height: 52px;
    border: 2px solid blue;
    background-color: aqua;
    border-radius: 1em;
    font-size: 22px;
    font-weight: bold;
    font-style: initial;
    cursor: pointer;
    text-align: center;
    outline: none;
    box-shadow: 0 9px #999;
} 
#submit:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}
#submit:hover{
    letter-spacing: 2px;
    background-color: greenyellow;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(236, 243, 16, 0.2);
}
#submit:hover::before{
    opacity: 1; 
  transform: scale(1, 1);
  
}
#submit:hover::after{
    content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
#submit:hover::after{
    opacity: 0; 
  transform: scale(0.1, 1);
}
#summit:active{
background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
